
global
    log stdout format raw daemon

defaults
    mode    http
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms
    log global
    option httplog
    option dontlognull

frontend http-in
    bind *:80
    # Define ACLs to match request paths
    acl is_auth path_beg /api/auth
    acl is_discounts path_beg /api/discounts
    acl is_items path_beg /api/items
    acl is_root path_beg /

    use_backend auth-backend if is_auth
    use_backend discounts-backend if is_discounts
    use_backend items-backend if is_items
    use_backend frontend-backend if is_root

# Backend for the auth service
backend auth-backend
server auth1 {{ hostvars ['backend_auth'].ansible_host }}:3001 check

# Backend for the discounts service
backend discounts-backend
server discounts1 {{ hostvars['backend_discounts'].ansible_host }}:3002 check

# Backend for the items service
backend items-backend
server items1 {{ hostvars['backend_items'].ansible_host }}:3003 check

# Backend for the frontend service
backend frontend-backend
server frontend1 {{ hostvars ['client'] .ansible_host }}:80 check
